<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itcast.dao">
    <!-- 这里namespace必须是UserDao接口的路径” -->

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_t (user_name, password, age)
        VALUES (#{username}, md5(#{password}), #{age})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>
    <!-- 这里的id必须和UserDao接口中的接口方法名相同 -->

    <select id="getUserById" resultType="User" parameterType="int">
        SELECT * FROM user_t WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE user_t SET username = #{username},
        password = md5(#{password}),
        age = #{age}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        DELETE FROM user_t WHERE id = #{id}
    </delete>

    <select id="getUsers" resultType="User">
        SELECT * FROM user_t WHERE id BETWEEN #{start} AND #{end};
    </select>
</mapper>
